.woocommerce-cart {
    h1.entry-title {
        display: none;
    }
    .woocommerce {
        min-height: 200px;
        .wc-empty-cart-message {
            margin-top: 64px;
            .cart-empty.woocommerce-info {
                background-color: transparent;
                text-align: center;
                font-size: 18px;
            }
        }
        .return-to-shop a {
            @include red_btn(#d1060d); 
            border-radius: 0;
            width: fit-content;
            margin: 24px auto 0;
        }
    }
    form.woocommerce-cart-form {
        max-width: 1200px;
        border: 1px solid #ccc;
        background-color: #fcfcfc;
        padding: 20px 12px;
        margin: 12px 0;
        table.cart {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            @include media("<mobile") {
                width: 100%;
            }
            th, td {
                font-size: 16px;
                text-align: center !important;
                padding: 12px;
                @include media("<mobile") {
                    font-size: 14px;
                    padding: 0;
                    direction: rtl;
                    &:before {
                        content: none !important;
                        display: none !important;
                    }
                }
            }
            th {
                border-bottom: 1px solid #e5e5e5;
            }
            tbody {
                @include media("<mobile") {
                    tr:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        gap: 12px;
                        padding: 24px 0;
                    }
                }
                td {
                    width: 12%;
                    border: 0 !important;
                    @include media("<mobile") {
                        width: 15%;
                        &.actions {
                            width: 100% !important;
                            margin: 16px 0;
                        }
                    }                    
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .product-thumbnail {
                    width: 140px;
                    @include media("<mobile") {
                        width: 15%;
                        padding: 0;
                        order: 1;
                    }
                    img.attachment-woocommerce_thumbnail {
                        width: 80px;
                        height: 100px;
                        border-radius: 6px;
                        @include media("<mobile") {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .product-name {
                    width: 350px !important;
                    @include media("<mobile") {
                        width: 65% !important;
                        order: 3;
                    }
                }
                .product-logo {
                    width: 140px;
                    @include media("<mobile") {
                        width: 12%;  
                        order: 2;                      
                    }
                }
                @include media("<mobile") {
                    .product-price {
                        order: 5;
                    }
                    .product-subtotal {
                        order: 6;
                    }
                }
                .product-quantity {
                    @include media("<mobile") {
                        order: 4;
                        font-size: 12px;
                    }
                    .quantity{
                        display: flex;
                        align-items: center;
                        @include media("<mobile") {
                            width: 15%;
                        }
                        @include media("<desktop") {
                            height: 16px;
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                            
                        }
                        /* Firefox */
                        input[type=number] {
                            width: 60px;
                            border: 0;
                            text-align: center;
                            font-weight: 500;
                            -moz-appearance: textfield;
                            @include media("<desktop") {
                                padding: 0 12px;
                            }
                            @include media("<mobile") {
                                padding: 0;
                                font-size: 12px;
                                width: min-content;
                            }
                        }

                        button {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            color: #000;
                            svg {
                                width: 16px;
                                @include media("<mobile") {
                                    width: 12px;
                                }
                            }
                        }                        
                    }  
                }
                .product-remove {
                    width: 32px;
                    @include media("<mobile") {
                        width: 24px;
                        order: 7;
                    }
                    a.remove {
                        width: 18px;
                    }
                }
                .coupon {
                    input#coupon_code {
                        border: 1px solid #ccc;
                        background-color: #fff;
                        border-radius: 0;
                        width: 200px;
                        margin-left: 8px;
                    }
                    button.button {
                        font-size: 16px;
                        color: #2f2483;
                        @include media("<mobile") {
                            font-size: 14px;
                        }
                    }
                }
                button[name=update_cart] {
                    display: none ;
                }
            }
        }
        .continue-shopping {
            width: fit-content;
            margin: auto;
            margin-top: 20px;
            .btn-continue {
                @include red_btn(#2f2483); 
                display: inline-block;
                border: 1px solid #2f2483 !important;
                border-radius: 0;
                padding: 12px 32px !important;
                &:hover {
                    background-color: #fff !important;
                    color: #2f2483 !important;
                    border-color: #2f2483 ;
                }
            }
        }
    }
    .cart-collaterals {
        position: relative;
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        max-width: 100%;
        margin: 40px auto 20px;
        padding: 12px;
        .cart_totals {
            width: 100%;
            margin: 0;
            padding: 20px;
            h2 {
                text-align: center;
                font-weight: 800 !important;
                margin-bottom: 12px !important;
            }
            table.shop_table {
                width: 400px;
                margin: auto;
                @include media("<mobile") {
                    width: 100%;
                }
                th {
                    text-align: right;
                    @include media("<mobile") {
                        display: inline-block;
                    }
                }
                tr {
                    width: 100%;
                    margin-bottom: 12px;
                    display: inline-flex;
                    justify-content: space-between;
                    @include media("<mobile") {
                        td:before {
                            float: right;
                            padding-left: 8px;
                            content: none !important;
                            display: none !important;
                        }
                        ul#shipping_method {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            align-items: center;
                            li {
                                width: 100%;
                                margin-bottom: 8px;
                                label {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            a.checkout-button {
                @include red_btn(#d1060d); 
                border: 1px solid #d1060d !important;
                border-radius: 0 !important;
                width: fit-content;
                text-align: center;
                padding: 12px 32px !important;
                margin: auto;
                margin-top: 16px;
                &:hover {
                    background-color: #fff !important;
                    color: #d1060d !important;
                }
            }
        }
    }
    .order-returns {
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        max-width: 100%;
        margin: 40px auto 20px;
        padding: 12px;
        .order-shopping-cart-lightbox {
            width: 100%;
            margin: 0;
            color: #000;
            font-size: 18px;
            text-align: center;
            line-height: 34px;
            @include media("<mobile") {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

}