.woocommerce-cart {
    h1.entry-title {
        display: none;
    }
    form.woocommerce-cart-form {
        max-width: 1200px;
        border: 1px solid #ccc;
        background-color: #fcfcfc;
        padding: 20px 12px;
        margin: 12px 0;
        table.cart {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            th, td {
                font-size: 16px;
                text-align: center !important;
                padding: 12px;
            }
            th {
                border-bottom: 1px solid #e5e5e5;
            }
            tbody {
                td {
                    width: 12%;
                    border: 0 !important;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .product-thumbnail {
                    width: 140px;
                    img.attachment-woocommerce_thumbnail {
                        width: 80px;
                        height: 100px;
                        border-radius: 6px;
                    }
                }
                .product-name {
                    width: 350px !important;
                }
                .product-logo {
                    width: 140px;
                }
                .product-quantity {
                    .quantity{
                        display: flex;
                        align-items: center;
                        @media (max-width: 1023px) {
                            height: 16px;
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                            
                        }
                        /* Firefox */
                        input[type=number] {
                            width: 60px;
                            border: 0;
                            text-align: center;
                            font-weight: 500;
                            -moz-appearance: textfield;
                            @media (max-width: 1023px) {
                                padding: 0 12px;
                            }
                        }

                        button {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            color: #000;
                            svg {
                                width: 16px;
                            }
                        }
                        
                    }  
                }
                .product-remove {
                    width: 32px;
                    a.remove {
                        width: 18px;
                    }
                }
                .coupon {
                    input#coupon_code {
                        border: 1px solid #ccc;
                        background-color: #fff;
                        border-radius: 0;
                        width: 200px;
                        margin-left: 8px;
                    }
                    button.button {
                        font-size: 16px;
                        color: #2f2483;
                    }
                }
                button[name=update_cart] {
                    display: none ;
                }
            }
        }
        .continue-shopping {
            width: fit-content;
            margin: auto;
            margin-top: 20px;
            .btn-continue {
                @include red_btn(#2f2483); 
                display: inline-block;
                border: 1px solid #2f2483 !important;
                border-radius: 0;
                padding: 12px 32px !important;
                &:hover {
                    background-color: #fff !important;
                    color: #2f2483 !important;
                    border-color: #2f2483 ;
                }
            }
        }
    }
    .cart-collaterals {
        position: relative;
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        max-width: 100%;
        margin: 40px auto 20px;
        padding: 12px;
        .cart_totals {
            width: 100%;
            margin: 0;
            padding: 20px;
            h2 {
                text-align: center;
                font-weight: 800 !important;
                margin-bottom: 12px !important;
            }
            table.shop_table {
                width: 400px;
                margin: auto;
                th {
                    text-align: right;
                }
                tr {
                    width: 100%;
                    margin-bottom: 12px;
                    display: inline-flex;
                    justify-content: space-between;
                }
            }
            a.checkout-button {
                @include red_btn(#d1060d); 
                border: 1px solid #d1060d !important;
                border-radius: 0 !important;
                width: fit-content;
                text-align: center;
                padding: 12px 32px !important;
                margin: auto;
                margin-top: 16px;
                &:hover {
                    background-color: #fff !important;
                    color: #d1060d !important;
                }
            }
        }
    }
    .order-returns {
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        max-width: 100%;
        margin: 40px auto 20px;
        padding: 12px;
        .order-shopping-cart-lightbox {
            width: 100%;
            margin: 0;
            color: #000;
            font-size: 18px;
            text-align: center;
            line-height: 34px;
        }
    }

}