.page-template-location{
    .location_wrapper{
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 1200px){
            padding: 0 20px;
        }
        .contact-address{
            margin-bottom: 20px;
            .contact-address-title{
                font-size: 16px;
                text-decoration: underline;
                font-weight: bold;
            }
            .contact-address-text{
                font-size: 16px;
            }
        }
        .contact-waze{
            margin-bottom: 20px;
            a{
                img{
                    width: auto;
                }
            }
        }
        .contact-hours{
            margin-bottom: 10px;
            .contact-hours-title{
                font-size: 16px;
                text-decoration: underline;
                font-weight: bold;
            }
            .contact-hours-text{
                font-size: 16px;
            }
        }
        .contact-map{
            max-width: 600px;
        }
    }
}