.woocommerce-account{
    .site-main{
        max-width: 1200px;
        margin: 0 auto;
        article{
            & > .entry-header{
                .entry-title{
                    display: none;
                }
            }
        }

        .entry-content{
            .woocommerce{
                &> h2{
                    display: none;
                }
                form{
                    max-width: 370px;
                    padding: 30px 0px 70px;
                    margin-left: auto;
                    position: relative;
                    @media screen and (max-width: 768px){
                        margin-right: auto;
                        max-width: 340px;
                    }
                    p.woocommerce-form-row{
                        margin-bottom: 16px;
                        label{
                            font-size: 15px;
                            line-height: 29px;
                            font-weight: normal;
                            color: #333f43;
                        }
                        input{
                            border: solid 1px #d6d4d4;
                            color: #000;
                            font-size: 15px;
                            line-height: 31px;
                            height: 31px;
                            padding-right: 8px;
                            border-radius: 0;
                            text-indent: 0;
                        }
                        
                    }
                    button[type=submit]{
                        @include red_btn(#d1060d); 
                        font-size: 16px;
                        border: 1px solid #d1060d !important;
                        max-width: 158px;
                        width: 100%;
                        height: 46px;
                        margin-right: auto;
                        border-radius: 0;
                        padding: 12px 12px !important;
                        &:hover {
                            background-color: #fff !important;
                            color: #d1060d !important;
                        }
                    }
                    .lost_password{
                        position: absolute;
                        bottom: 90px;
                        a{
                            color: #333f43;
                            font-size: 15px;
                            line-height: 29px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    .widget-area{
        display: none;
    }
    &.logged-in{
        .site-main{
            .entry-content{
                .woocommerce{
                    padding: 20px 40px;
                    background-color: #fcfcfc;
                    border: solid 1px #e0dede;
                    margin: 40px auto 40px;
                    width: auto;
                    height: auto;
                    min-height: 170px;
                    @media screen and (max-width: 1023px){
                        overflow-x: auto;
                        padding: 20px 10px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    //login user
                    .woocommerce-MyAccount-navigation{
                        margin-bottom: 60px;
                        ul{
                            display: flex;
                            gap: 4px;
                            justify-content: center;
                            li{
                                position: relative;
                                &:after{
                                    content:"";
                                    position: absolute;
                                    height: 10px;
                                    width: 1px;
                                    background-color: rgb(51, 51, 51);
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                a{
                                    color: #337ab7;
                                    padding: 8px;
                                    font-size: 14px;
                                    &:hover{
                                        color: #23527c;
                                    }
                                }
                                &:last-child{
                                    &:after{
                                        content: none;
                                    }
                                }
                                &.is-active{
                                    a{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .woocommerce-info{
                        background-color: #026805;
                        color: #fff;
                        border: 0;
                        font-size: 16px;
                        list-style-type: none;
                        padding: 8px 36px 8px 8px;
                        margin: 0 0 20px 0;
                        position: relative;
                        a{
                            color: #fff;
                            text-decoration: underline;
                        }
                        &::before {
                            content: '';
                            background-image: url("../images/check-circle.svg");
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            inset-inline-start: 10px;
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            filter: invert(1);
                        }
                    }
                    .woocommerce-MyAccount-content{
                        .entry-header{
                            & > h1{
                                text-align: center;
                                font-size: 22px;
                                border-bottom: 2px solid #E7E7E7;
                                padding-bottom: 7px;
                                margin-bottom: 10px;
                            }
                        }
                        table{
                            border-collapse: collapse;
                            margin: auto;
                            thead{
                                @media screen and (max-width: 1023px){
                                display: table-header-group;
                                }
                                th{
                                    text-align: center;
                                    padding: 1em;
                                    background-color: #4F4F4F;
                                    color: white;
                                    font-size: 14px;
                                    font-weight: 700;
                                    display: table-cell;
                                }
                            }
                            tbody{
                                tr{
                                    th{
                                        display: table-cell;
                                    }
                                    &:nth-child(odd){
                                        background-color: #eee;
                                    }
                                    &:nth-child(even){
                                        background-color: #fff;
                                    }
                                    a{
                                        width: 100%;
                                        display: block;
                                        text-align: center;
                                        color: #337ab7;
                                        font-weight: normal;
                                        font-size: 14px;
                                    }
                                }
                            }
                            td{
                                width:140px;
                                padding: 14px;
                                text-align: center;
                                font-size: 14px;
                                display: table-cell;
                                &:before{
                                    content: none;
                                }
                            }
                            
                        }
                        .view_order_wrapper{
                            padding: 30px; 
                            border: 6px solid #2f2483;
                            & > *{
                                text-align: center; 
                                font-size: 18px;
                            }
                            a.custom-logo-link{
                                img{
                                    width: auto;
                                    margin-bottom: 35px;
                                }
                            }
                            .woocommerce-order-details{
                                margin: 60px 0 15px;
                                @media screen and (max-width: 1023px){
                                    overflow-x: auto;
                                }
                                .woocommerce-order-details__title{
                                    text-align: right;
                                    font-size: 22px;
                                }
                                table.order_details{
                                    width: 100%;
                                    thead,tfoot{
                                        th{
                                            padding: 10px;
                                            background: #eeeeee;
                                            border-left: 1px solid #cdcdcd;
                                            border-bottom: 1px solid #cdcdcd;
                                            color: rgb(51, 51, 51);
                                            &:first-child{
                                                border-right: 1px solid #cdcdcd;
                                            }
                                        }
                                    }
                                    tbody,tfoot{
                                        tr{
                                            background-color: #fff;
                                            td{
                                                padding: 5px;
                                                background: #ffffff;
                                                border-left: 1px solid #cdcdcd;
                                                border-bottom: 1px solid #cdcdcd;
                                                &:first-child{
                                                    border-right: 1px solid #cdcdcd;
                                                }
                                            }
                                            &.woocommerce-table__line-item.order_item{
                                                .product-name{
                                                    display: flex;
                                                    width: auto;
                                                    align-items: center;
                                                    & > *{
                                                        padding: 0 10px;
                                                    }
                                                    .madimz-order-item-image{
                                                        order: 1;
                                                    }
                                                    & >a{
                                                        order: 2;
                                                    }
                                                    .product-quantity{
                                                        order: 3;
                                                    }
                                                    .madimz-unit-price{
                                                        order: 4;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    tfoot{
                                        th{
                                            background-color: #fff;
                                            font-weight: normal;
                                            text-align: right;
                                        }
                                        & > :nth-last-child(-n+2){
                                            display: none;
                                        }
                                        
                                    }
                                }
                            }
                            .woocommerce-customer-details{
                                display: none;
                            }
                        }
                        #customer_duplicate{
                            .customer_my_duplicate_order_title{
                                text-align: center;
                                font-size: 22px;
                                border-bottom: 2px solid #e7e7e7;
                                padding-bottom: 7px;
                                margin-bottom: 10px;
                                margin-top: 40px;
                            }
                            a{
                                color: #0067B3;
                                text-align: right;
                                display: block;
                                font-size: 14px;
                            }
                        }
                        .my_order{
                            .my_order_title{
                                text-align: center;
                                font-size: 22px;
                                border-bottom: 2px solid #e7e7e7;
                                padding-bottom: 7px;
                                margin-bottom: 10px;
                                margin-top: 40px;
                            }
                            .customer_ask_about{
                                font-size: 14px;
                                a{
                                    font-size: 14px;
                                    color: #337ab7;
                                }
                            }
                            .comment{
                                p{
                                    color: rgb(51, 51, 51);
                                    font-size: 14px;
                                }
                                
                            }
                        }
                        
                    }
                }
            }
        }
        &.woocommerce-view-order{
            .woocommerce-MyAccount-content{
                display: flex;
                flex-direction: column;
                & > p{
                    display: none;
                }
                header.entry-header{
                    order:3;
                }
                #customer_duplicate{
                    order: 1;
                }
                .my_order{
                    order: 2;
                }
                .view_order_wrapper{
                    order: 4;
                }
            }
        }
    }
}