.woocommerce-account{
    .site-main{
        max-width: 1200px;
        margin: 0 auto;
        .entry-title{
            visibility: hidden;
            font-size: 0; 
        }
        .entry-content{
            .woocommerce{
                &> h2{
                    display: none;
                }
                form{
                    max-width: 370px;
                    padding: 30px 0px 70px;
                    margin-left: auto;
                    position: relative;
                    p.woocommerce-form-row{
                        margin-bottom: 16px;
                        label{
                            font-size: 15px;
                            line-height: 29px;
                            font-weight: normal;
                            color: #333f43;
                        }
                        input{
                            border: solid 1px #d6d4d4;
                            color: #000;
                            font-size: 15px;
                            line-height: 31px;
                            height: 31px;
                            padding-right: 8px;
                            border-radius: 0;
                            text-indent: 0;
                        }
                        
                    }
                    button[type=submit]{
                        @include red_btn(#d1060d); 
                        font-size: 16px;
                        border: 1px solid #d1060d !important;
                        max-width: 158px;
                        width: 100%;
                        height: 46px;
                        margin-right: auto;
                        border-radius: 0;
                        padding: 12px 12px !important;
                        &:hover {
                            background-color: #fff !important;
                            color: #d1060d !important;
                        }
                    }
                    .lost_password{
                        position: absolute;
                        bottom: 90px;
                        a{
                            color: #333f43;
                            font-size: 15px;
                            line-height: 29px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    .widget-area{
        display: none;
    }
}