// Ticket Sucsses page style
.ticket-success {
    max-width: 600px;
    position: relative;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 40px auto;
    padding: 32px;
    h2 {
        font-size: 16px;
        font-weight: 800 !important;
        margin-bottom: 16px !important;
        color: #333;
    }
    p {
        font-size: 16px;
        color: #333;
        margin-bottom: 4px !important;
    }
    .back-btn {
        display: block;
        width: fit-content;
        border-radius: 0;
        margin: 24px auto 0;
    }
}


