$color__background-body: #fff;
$color__background-screen: #d1060d;
$color__background-hr: #ccc;
$color__background-button: #d1060d;
$color__background-button-purple: #312784;
$color__background-button-hover: #fff;
$color__background-pre: #00000026;
$color__background-ins: #00000026;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
