/****
* Global Typography Styles (excluding ACF and Editor content)
*/

h1:not(.acf-custom-content h1):not(.wp_editor_wrapper h1),
h2:not(.acf-custom-content h2):not(.wp_editor_wrapper h2),
h3:not(.acf-custom-content h3):not(.wp_editor_wrapper h3),
h4:not(.acf-custom-content h4):not(.wp_editor_wrapper h4),
h5:not(.acf-custom-content h5):not(.wp_editor_wrapper h5),
h6:not(.acf-custom-content h6):not(.wp_editor_wrapper h6) {
    margin: 0;
    font-weight: 400;
}

p:not(.acf-custom-content p):not(.wp_editor_wrapper p) {
    margin: 0;
}

a:not(.acf-custom-content a):not(.wp_editor_wrapper a) {
    color: #000;
    text-decoration: none;
}

ul:not(.acf-custom-content ul):not(.wp_editor_wrapper ul) {
    margin: 0;
    padding: 0;
}

ul:not(.acf-custom-content ul):not(.wp_editor_wrapper ul) li {
    list-style-type: none;
    position: relative;
}

dl:not(.acf-custom-content dl):not(.wp_editor_wrapper dl),
dt:not(.acf-custom-content dt):not(.wp_editor_wrapper dt),
dd:not(.acf-custom-content dd):not(.wp_editor_wrapper dd) {
    margin: 0;
}

button:not(.acf-custom-content button):not(.wp_editor_wrapper button) {
    border: 0; 
    padding: 0;
    background: transparent;
    font-family: 'Heebo';
    cursor: pointer;
}

/****
 * General
 */
body  {
    scroll-behavior: smooth !important;
}

@mixin container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include media(">mobile") {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

div.container {
  @include container;
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    border: 0;
}

.rotate {
    transform: rotate(180deg);
}

.pswp__img {
  object-fit: contain !important;
}

.pswp__top-bar {
  display: none;
}

.pswp__bg {
    background: #000000b8;
}

a.whatsapp-float {
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    top: 250px;
    left: 10px;
    z-index: 999;
    @include media("<mobile") {
        top: 120px;
        right: 10px;
        left: inherit;
        width: 50px;
        height: 50px;
    }
}

.btn-wishlist-float {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
    width: 50px;
    height: 50px;
    border: solid 1px #ccc;
    border-radius: 0 30px 30px 0;
    z-index: 999;
    cursor: pointer;
    @include media(">mobile") {
        min-height: 22px;
        min-width: 22px;
        top: 50%;
        // transform: translateY(-50%);
    }
    a.wishlist-float {
        display: flex;
        align-items: center;
        gap: 2px;
        width: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
        @include media(">mobile") {
            height: 22px;
            max-width: calc(22px + 8px);
        }
        span.counter {
            font-size: 10px;
            margin-bottom: 8px;
        }
        svg {
            position: relative;
            width: auto;
            max-width: 100%;
            max-height: 100%;
            z-index: 100;
            text-align: center;
            cursor: pointer;
            @include media(">mobile") {
                max-height: 22px;
                max-width: 22px;
            }
        }
    }
}

/****
* Header Style
*/
header.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: -2px 1px 7px rgb(0 0 0 / 35%);
    margin: 0;
    padding: 0;
    z-index: 999;
    @include media(">mobile") { 
        height: 130px;
    }
    @media (min-width: 1400px) {
        height: 120px;
    }
    .top-header {
        position: relative;
        direction: rtl;
        max-width: 97%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        @include media(">=mobile") { 
            height: calc(130px - 50px);
        }
        @media (min-width: 1400px) {
            height: calc(120px - 35px);
        }
        @include media("<mobile") { 
            flex-direction: column-reverse;
            // flex-wrap: wrap;
            row-gap: 16px;
            height: 125px;
            justify-content: center;
        }
        .header-left-icons {
            @include media("<mobile") { 
                width: 97%;
                display: flex;
                justify-content: space-between;
            }
            .search-wrapper{
                position: relative;
                width: 285px;
                .search-icon{
                    position: absolute;
                    top:0;
                    left:0;
                    svg{
                        width: 38px;
                        height: auto;
                        padding: 6px;
                    }
                }
                input{
                    font-size: 14px;
                    color: rgba(155, 155, 155, 1);
                    text-indent: 13px;
                    border: 1px solid rgba(224, 224, 224, 1);
                    border-radius: 18px;
                    background: rgba(247, 247, 247, 1);
                }
                #search-results {
                    position: absolute;
                    background: #fff;
                    width: 100%;
                    border: 1px solid #ddd;
                    z-index: 9999;
                    display: none;
                    padding: 10px;
                    .search-item {
                        display: flex;
                        align-items: center;
                        padding: 6px;
                        //border-bottom: 1px solid #f1f1f1;
                        text-decoration: none;
                        color: #333;
                        img.search-thumb {
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                            margin-left: 10px;
                        }
                    }
                    .all-results {
                        display: block;
                        text-align: right;
                        padding: 10px;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }
            .menu-toggle {
                display: none;
                @include media("<desktop") {
                    display: block;
                    color: #2f2483;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    svg {
                        filter: brightness(0) saturate(100%) invert(18%) sepia(40%) saturate(4054%) hue-rotate(218deg) brightness(91%) contrast(93%);
                    }
                }
            }
        }
        .site-branding {
            a {
                width: 200px;
                height: auto;
                display: inline-block;
                @include media("<=mobile") {
                    width: 132px;
                    max-width: 132px;
                    height: 50px;
                }
            }
        }
        .header-right-icons {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 24px;
            @include media("<mobile") {
                width: 97%;
                gap: 16px;
                justify-content: space-between;
            }
            li.account-icon {
                height: 28px;
                .header-link {
                    background-color: transparent;
                    position: relative;
                    svg {
                        width: 28px;
                        height: 28px;
                        display: inline-block;
                        filter: brightness(0) saturate(100%) invert(18%) sepia(40%) saturate(4054%) hue-rotate(218deg) brightness(91%) contrast(93%);
                        &:hover {
                            filter: brightness(0) saturate(100%) invert(13%) sepia(92%) saturate(6163%) hue-rotate(353deg) brightness(80%) contrast(105%);
                        }
                    }
                    span {
                        display: inline-block;
                        font-size: 10px;
                        text-align: center;
                        line-height: 14px;
                        letter-spacing: -0.25px;
                        position: absolute;
                        left: 0;
                        right: 14px;
                        bottom: 0;
                        top: 8px;
                        background-color: #2f2483;
                        color: #fff;
                        width: 18px;
                        height: 18px;
                        border-radius: 100%;
                        padding: 3px;
                    }
                }
            }
        }
    }
    nav.desktop-navigation {
        width: 100%;
        height: 50px;
        max-width: 96%;
        display: block;
        margin: auto;
        z-index: 99;
        perspective: 1400px;
        @media (min-width: 1400px) {
            height: 35px;
            padding: 8px 0;
        }

        ul.primary-menu {
            display: flex;
            justify-content: center;
            column-gap: 24px;
            text-align: center;
            flex-wrap: wrap;
            row-gap: 8px;
            @media (min-width: 1400px) {
                flex-wrap: nowrap;
            }

            > li {
                position: relative;

                > a {
                    font-size: 16px;
                    font-weight: 800;
                    white-space: nowrap;
                    @media (min-width: 1400px) {
                        font-size: 18px;
                    }
                    @include media(">mobile") {
                        color: #424441;
                    }
                    @media (min-width: 992px) {
                        display: block;
                        width: auto;
                        height: 100%;
                        line-height: 36px;
                        line-height: 22px;
                        color: #2f2483;
                        // font-size: 16px;
                        position: relative;
                        padding: 0;
                        overflow: visible;
                        box-sizing: border-box;
                    }

                }

                &.menu-item-has-children {
                    &:hover > .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: rotateX(0deg) translateZ(0);
                        pointer-events: auto;
                    }
                }
            }
        }

        /* Submenu Styling */
        .sub-menu {
            position: absolute;
            top: 110%;
            // top: 100%;
            right: -5%; // RTL
            // right: 0; // RTL
            width: 400px;
            height: 260px;
            background: #fff;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            /* ANIMATION */
            transform-origin: top center;
            transform: rotateX(-90deg) translateZ(-80px);
            opacity: 0;
            visibility: hidden;
            transition:
                transform 0.75s cubic-bezier(0.23,0.63,0.32,1),
                opacity 0.35s ease,
                filter 0.35s ease,
                visibility 0.35s ease;
            will-change: transform, opacity, filter;
            -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
            pointer-events: none;

            li {
                padding: 0 40px;
                height: 26px;
                display: block;
                width: calc(100% - 80px);

                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 4px 0;
                    color: #2f2483;
                    text-align: right;
                    line-height: 35px;
                    letter-spacing: -0.32px;
                    &:hover {
                        color: #d1060d; 
                    }
                }
            }
        }

    }
    nav.mobile-navigation {
        position: fixed;
        width: 100%;
        background: #fff;
        transform: translateY(-8px);
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 999;

        transition:
            max-height 0.4s ease,
            opacity 0.4s ease,
            transform 0.4s ease;


        &.is-open {
            transform: translateY(0);
            max-height: 100vh;
            opacity: 1;
        }

        li.menu-item {
            min-height: 40px;
            background: #ebebeb;
            border-top: 1px solid #cccccc;
            text-align: right;
            line-height: 40px;
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 20px);
                color: #000;
                font-size: 16px;
                margin: 0 10px;
                padding: 0px 12px;
                &:after{
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url("../images/swiper-arrow.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    flex-shrink: 0;
                }
            }
        }
    }

}
body.menu-open {
  overflow: hidden;
}

/****
* Breadcrumb Style
*/
.madimz-breadcrumb-wrapper {
    @include media("<desktop") {
        margin: 0 16px;
    }
    nav.woocommerce-breadcrumb {
        direction: rtl;
        width: 100%;
        padding: 0;
        max-width: 1200px;
        color: #000;
        margin: 12px auto;
        padding-top: 12px;
        font-size: 12px;
        a {
            color: #337ab7 !important;
            font-size: 12px;
            // margin-left: 12px;
            &:hover {
                color: #2f2483 !important;
            }
        }
        .sep {
            padding: 0 4px;
            color: #337ab7 !important;
        }
    }
}


/****
* Contact Form Banner Style
*/
.banner-contact-wrapper {
    .banner-contact {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: auto;
        padding: 20px;
        @include media("<mobile") {
            padding: 40px 20px;
        }
        .contact-content {
            text-align: center;
            h3 {
                position: relative;
                display: block;
                font-size: 32px;
                color: #000;
                font-weight: 400;
                line-height: 32px;
                margin-bottom: 32px !important;
                @include media("<desktop") {
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 24px !important;
                }
            }

            h4 {
                display: block;
                font-size: 20px;
                border: none;
                color: #000;
                font-weight: 400;
                text-align: center;
                line-height: 20px;
                text-indent: 0;
                margin-bottom: 40px !important;
            }
        }
        .contact-form {
            @include media(">=desktop") {
                max-width: 1200px;
                margin: auto;
                padding: 20px 0;
            }
            form.wpcf7-form.init {
                display: flex;
                gap: 32px;
                align-items: center;
                @include media("<mobile") {
                    align-items: stretch;
                    flex-direction: column;
                    width: 100%;
                    gap: 12px;
                    padding: 0 16px;
                }
                .form-group {
                    height: 40px;
                    width: 270px;
                    @include media("<mobile") {
                        width: 100%;
                    }
                    input {
                        border: 0;
                    }
                }
                p {
                    height: 40px;
                    margin: 0 !important;
                    input#contact_btn {
                        padding: 0 !important;
                        font-size: 20px;
                        font-weight: 800;
                        width: 140px;
                        text-align: center;
                        @include media("<mobile") {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
    }
}

/****
* Footer Style
*/
.site-footer {
    .footer-content {
        background-color: #160e40;
        padding-top: 24px;
        @include media("<mobile") { 
            padding: 24px 20px 0;
        }
        .footer-columns {
            display: flex;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
            height: auto;
            overflow: hidden;
            @media (min-width: 1200px) {
                padding: 0 0 0 24px;
            }
            @include media("<mobile") { 
                flex-direction: column;
            }
            .footer-column {
                padding: 0;
                width: 100%;
                position: relative;
                min-height: 1px;
                @include media(">mobile") {
                    width: 25%;
                }
                h3 {
                    color: #fff;
                    display: block;
                    width: 100%;
                    font-size: 18px;
                    line-height: 56px;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 16px;
                }    
                ul.column {
                    margin-bottom: 12px;
                    width: 100%;
                    li {
                        width: 100%;
                        height: auto;
                        text-align: right;
                        display: block;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 4px;
                        a {
                            display: inline-block;
                            color: #fff;
                            height: 100%;
                            width: auto;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: right;
                            font-weight: 400;
                            padding: 0;
                            margin: 0;
                            &:hover {
                                color: #808285;
                            }
                        }
                    }
                }
                .contact-information {
                    display: block;
                    color: #fff;
                    width: 100%;
                    height: auto;
                    text-align: right;
                    line-height: 24px;
                    padding: 0;
                    margin: 0;
                    p {
                        font-size: 16px !important; 
                        margin: 0 !important;                       
                    }
                    a {
                        font-size: 16px !important;
                        color: #fff;
                        cursor: pointer;
                    }
                } 
                ul.social-list {
                    margin-bottom: 12px;
                    display: flex;
                    li {
                        width: 36px;
                        height: 36px;
                        margin: 2px;
                        display: inline-block;
                        img {
                            width: auto;
                            height: 20px;
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5%) hue-rotate(208deg) brightness(103%) contrast(101%);
                            margin: auto;
                        }
                    }
                }               
            }
        }
        .footer-information {
            width: 100%;
            max-width: 1200px;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            margin: 16px auto 0;
            padding: 0;
            border-top: 1px solid #2f2f2f;
            @include media("<mobile") { 
                flex-direction: column;
                align-items: stretch
            }
            ul.payment-options-list {
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;
                padding: 16px 0;
                img {
                    height: 32px;
                    width: auto;
                    @include media("<mobile") { 
                        height: 20px;
                    }
                }
            }
            span {
                padding: 16px 0;
                font-size: 14px;
                color: #ababab;
                text-align: left;
            }
        }
    }
}

/****
* Woocommercr Message
*/
.woocommerce-notices-wrapper, .woocommerce-NoticeGroup {
    max-width: 1200px;
    margin: auto;
    .woocommerce-error {
        background-color: #d1060d;
        color: #fff;
        border: 0;
        font-size: 16px;
        list-style-type: none;
        position: relative;
        margin: 0 0 20px 0 !important;
        padding: 8px 36px 8px 8px !important;
        &::before {
            content: '';
            background-image: url("../images/alert.svg");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            inset-inline-start: 10px;
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(1);
        }
        a {
            color: #fff !important;
            // display: none;
        }
    }

    .woocommerce-message , .woocommerce-info {
        background-color: #026805;
        color: #fff;
        border: 0;
        font-size: 16px;
        list-style-type: none;
        padding: 8px 36px 8px 8px !important;
        margin: 0 0 20px 0 !important;
        position: relative;
        &::before {
            content: '';
            background-image: url("../images/check-circle.svg");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            inset-inline-start: 10px;
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(1);
        }
        a {
            display: none;
        }
    }
}


/****
*  Content Page
*/

.page-template-default{
    main.site-main{
        max-width: 1200px;
        margin: 0 auto 30px;
        @media screen and (max-width: 1200px){
            padding: 0 20px;
        }
        article{
            header{
                // margin: 40px 0;
                h1{
                    display: none;
                }
            }
        }
    }
}

.post-template-default{
    main.site-main{
        max-width: 1200px;
        margin: 0 auto 30px;
        @media screen and (max-width: 1200px){
            padding: 0 20px;
        }
        img{
            width: auto;
            padding-bottom: 15px;
        }
        .entry-header{
            h1{
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
        #comments,.post-navigation,.entry-meta{
            display: none;
        }
    }

}

.blog{
    main.site-main{
        max-width: 1200px;
        margin: 0 auto 30px;
        @media screen and (max-width: 1200px){
            padding: 0 20px;
        }
        img{
            width: auto;
        }
    }
   article{
        border-bottom: 1px solid #dedede;
        padding: 10px 0px;
        margin-bottom: 10px;
        .entry-header{
            padding-bottom: 10px;
            .entry-title,.entry-title > *{
                font-size: 18px;
                font-weight: bold;
            }
            .entry-meta {
                display: none;
            }
        }
 
        .post-thumbnail{
            max-width: 150px;
            display: block;
            padding-bottom: 10px;
            img{
                width: 100%;
            }
        }
        .entry-content,.entry-content > *{
            font-size: 14px;
        }
   } 
}

button.button-wishlist {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 99;
    .icon.wishlist {
        width: 28px;
        height: 28px;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        display: inline-block;
        background-color: #333;
        mask-image: url("/wp-content/themes/madimz/dist/images/heart-outline.svg");
    }

    &.remove {
        .icon {
            mask-image: url("/wp-content/themes/madimz/dist/images/heart.svg");
        }
    }

    &:hover,
    &:active,
    &:focus {
        color: #d1060d;
    }
}

